.about {
  padding: 90px 0;
}

.about__block {
  display: flex;
  align-items: flex-start;
}

.about__img {
  width: 315px;
  height: 315px;
  background: #C4C4C4;
  opacity: 0.5;

  img {
      width: 100%;
  }
}

.about__img_long {
  background: #C4C4C4;
  opacity: 0.5;
  width: 250px;
  height: 250px;

  img {
      width: 100%;
  }
}

.about__block-wrapper {
  margin-left: 30px;
  width: 775px;
}

.about__descr {
  margin-top: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #191919;
}

.about__form {
  width: 1003px;
}

.about__feed-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__input-wrapper {
  width: 315px;
  position: relative;
}

.form__wrapper {
  width: 100%;
}

.about__feed-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__comment {
  width: 100%;
  height: 111px;
}    .form__wrapper {
  width: 100%;
}
.about__btn {
  padding: 0 50px;
  font-size: 14px;
  width: 256px;
}

input {
  font-size: 12px;
}

.about__btn {
  padding: 0 100px;
  width: 430px;
  height: 50px;
}

button[type="reset"] {
  background: transparent;
}

@include breakpoint-down(1200) {

  .about {
      padding: 40px 0;
  }

  .about__title {
      font-size: 35px;
  }

  .about__descr {
      font-size: 22px;
  }

  .about__img {
      width: 200px;
      height: 200px;
  }

  .about__block-wrapper {
      margin-left: 20px;
      width: 650px;
  }
}

@include breakpoint-down(991) {
  .about {
      padding: 30px 0;
  }

  .about__block {
      margin: 0 auto;
      margin-top: 30px;
  }


  .about__block-wrapper {
      margin-left: 30px;
      width: 500px;
  }

  .about__feed__title {
      font-size: 30px;
  }

  .about__form {
      width: 100%;
  }

  .about__input-wrapper {
      margin-left: 10px;
  }

  .about__feed-wrapper:first-child {
      margin-left: 0;
  }


  .about__btn {
      margin: 0 auto;
      margin-top: 20px;
  }
}


@include breakpoint-down(768) {
  .about {
      padding: 30px 0;
  }

  .about__block {
      flex-direction: column;
      align-items: center;
      width: 500px;
      margin: 0 auto;
      margin-top: 30px;
  }

  .about__block-wrapper {
      margin: 0;
      margin-top: 20px;
      width: 100%;
  }

}

@include breakpoint-down(575) {
  .about__block {
      width: 280px;
  }

  .about__img {
      width: 150px;
      height: 150px;
  }
  .form__wrapper {
      width: 100%;
  }
  .about__btn {
      padding: 0 50px;
      font-size: 14px;
      width: 256px;
  }

  input {
      font-size: 12px;
  }

  .about {
      .about__feed-wrapper {
          flex-direction: column;
      }
      .about__input-wrapper {
          margin: 0;
          margin-top: 20px;
          width: 100%;
      }
  }
}