.brand {
  display: none;
  width: 139px;
  position: absolute;
  flex-direction: column;
  z-index: 55;
  left: 215px;
  top: 10px;
  background: #FFFFFF;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 16px 12px;
}

.brand__input {
  margin-bottom: 12px;
}

.cardanShafts__button--brand ~ .brand {
  display: flex;
}