.cardanShafts {
  margin-bottom: 85px;
}

.cardanShafts__form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F2F2F2;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 32px;
}

.cardanShafts__filter {
  margin-right: 16px;
  font-weight: 550;
  font-size: 16px;
  line-height: 130%;
  color: #191919;
}

.cardanShafts__button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: #FFFFFF;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #191919;

  & span {
    margin-right: 8px;
  }
}

.cardanShafts__search {
  max-width: 350px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #888888;
  background-image: url("../imgs/search.png");
  background-position: right 15px center;
  background-repeat: no-repeat;
}

.cardanShafts__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardanShafts__item {
  position: relative;
  max-width: 315px; 
  width: 100%;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 30px;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid #CFCFCF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  }

  &:hover .cardanShafts__item-bookmark {
    display: block;
  }
}

.cardanShafts__item-bookmark {
  display: none;
  position: absolute;
  z-index: 10;
  right: 18px;
  top: 18px;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  border-radius: 13px;
  padding: 11px 13px;
  cursor: pointer;

  &:hover {
    background-color: #3456AF;
  }

  &:hover .bookmark path {
    fill: #fff;
  }
}

.cardanShafts__item-img {
  display: block;
  margin-bottom: 12px;
}

.cardanShafts__item-title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.cardanShafts__item-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.cardanShafts__item-pric {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 550;
  font-size: 28px;
  line-height: 130%;
  color: #000000;
}

.cardanShafts__item-valuta {
  font-weight: 550;
  font-size: 20px;
}

.cardanShafts__item-box {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.cardanShafts__item-notAvailable {
  display: block;
  font-weight: 550;
  font-size: 14px;
  line-height: 130%;
  color: #8D989D;
  margin-bottom: 20px;
}

.cardanShafts__item-box--active .cardanShafts__item-notAvailable {
  display: none;
}

.cardanShafts__item-buy {
  display: none;
  align-items: center;
  border: none;
  outline: none;
  background: #3456AF;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 550;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
  cursor: pointer;

  & img {
    display: block;
    margin-left: 8px;
  }
}

.cardanShafts__item-box--active .cardanShafts__item-buy {
  display: flex;
}

.cardanShafts__item-select {
  display: none;
  background: #F2F2F2;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 12px;
  margin-left: 8px;
}

.cardanShafts__item-box--active .cardanShafts__item-select {
  display: block;
}

.cardanShafts__item-discount {
  display: none;
  font-weight: 550;
  font-size: 14px;
  line-height: 130%;
  color: #23BF6B;
  margin-bottom: 12px;
}

.cardanShafts__item-bottom--active .cardanShafts__item-discount{
  display: block;
}

.cardanShafts__item-order {
  display: block;
  font-weight: 550;
  font-size: 14px;
  line-height: 130%;
  color: #FC3B3E;
  margin-bottom: 12px;
}

.cardanShafts__item-bottom--active .cardanShafts__item-order{
  display: none;
}

.cardanShafts__item-more {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
  background: #F17845;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: auto;
}

.cardanShafts__bottom {
  margin-bottom: 85px;
  max-width: 322px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cardanShafts__number-products {
  font-weight: 550;
  font-size: 14px;
  line-height: 130%;
  color: #C8C8C8;
  margin-bottom: 8px;
}

.cardanShafts__bottom-view {
  font-weight: 550;
  font-size: 15px;
  line-height: 130%;
  color: #191919;
  padding: 8px 49px;
  background: #F2F2F2;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
}

.cardanShafts__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.cardanShafts__pagination-button {
  border: none;
  outline: none;
  padding: 8px 12px;
  font-weight: 550;
  font-size: 15px;
  line-height: 100%;
  color: #8D989D;
  margin-right: 8px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3456AF;
    color: #fff;
  }
}

.cardanShafts-price {
  display: none;
  max-width: 448px;
  width: 100%;
  position: absolute;
  z-index: 55;
  left: 110px;
  top: 75px;
  background: #FFFFFF;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
}

.cardanShafts__button--price ~ .cardanShafts-price {
  display: block;
}

.cardanShafts-price__top {
  display: flex;
  margin-bottom: 23px;
}

.cardanShafts-price__input {
  max-width: 196px;
  border: none;
  outline: none;
  background-color: #dbdbdb;
  border-radius: 12px;
  margin-right: 8px;
  padding: 16px;
  font-weight: 550;
  font-size: 16px;
  line-height: 16px;
  color: #222222;

  &:last-child {
    margin-right: 0;
  }

  &--top {
    position: absolute;
    left: 180px;
    top: 38px;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: #8D989D;
  }
  &--bottom {
    position: absolute;
    right: 35px;
    top: 38px;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: #8D989D;
  }
}

.cardanShafts-price__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardanShafts-price__reset {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 550;
  font-size: 15px;
  line-height: 130%;
  color: #8D989D;
  cursor: pointer;
}

.cardanShafts-price__apply {
  border: none;
  outline: none;
  background: #3456AF;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 550;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
  cursor: pointer;
}


@include breakpoint-down(1310) {
  .cardanShafts__list {
    justify-content: center;
  }
  .cardanShafts__item {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
  }
}

@include breakpoint-down(1280) {
  .cardanShafts__item {
    max-width: 350px;
  }
}
@include breakpoint-down(1264) {
  .cardanShafts__form {
    justify-content: space-around;
  }

  .cardanShafts__button {
    margin-bottom: 10px;
  }

  .cardanShafts__search {
    margin-bottom: 10px;
  }
}
@include breakpoint-down(1129) {
  .cardanShafts__item {
    max-width: 450px;
  }
}
@include breakpoint-down(970) {
  .cardanShafts__item {
    max-width: 350px;
  }
}
@include breakpoint-down(771) {
  .cardanShafts__item {
    max-width: 300px;
  }
  .cardanShafts__item-more {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
@include breakpoint-down(679) {
  .cardanShafts {
    margin-bottom: 30px;
  }
}
@include breakpoint-down(669) {
  .cardanShafts__item {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@include breakpoint-down(362) {
  .cardanShafts__item-more {
    font-weight: 400;
    font-size: 12px;
  }
}
