.catalog {
  display: none;
  position: absolute;
  z-index: 55;
  left: 0;
  top: 120%;
  background-color: #fff;
  max-width: 315px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid rgb(202, 202, 202);
}


.header__bottom-link--active ~ .catalog {
  display: block;
}

.catalog__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  padding: 19px 16px;
  font-weight: 550;
  font-size: 18px;
  line-height: 130%;
  color: #191919;
  transition: all 0.3s ease;

  &:hover .catalog__spareparts {
    display: block;
  }

  &:hover {
    background: #F2F2F2;

  }

  &:hover .catalog__text {
    color: #3456AF;
  }
}

.catalog__text {
  margin: 0;
}

.catalog__spareparts {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  max-width: 315px;
  width: 100%;
  background: #FFFFFF;
  margin-left: 1px;
  border-right: 1px solid rgb(202, 202, 202);
}

.catalog__spareparts-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 16px;
  font-weight: 550;
  font-size: 18px;
  line-height: 130%;
  color: #191919;
  transition: all 0.3s ease;

  &:hover .catalog__inner {
    display: block;
  }

  &:hover {
    background: #F2F2F2;

  }

  &:hover .catalog__spareparts-text {
    color: #3456AF;
  }
}

.catalog__spareparts-text {
  margin: 0;
}

.catalog__inner {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  max-width: 200px;
  width: 100%;
  background: #FFFFFF;
  padding: 8px;
  margin-left: 1px;
  border-radius: 0 8px 8px 0;
}

.catalog__inner-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__inner-link {
  display: block;
  font-weight: 550;
  font-size: 18px;
  line-height: 130%;
  color: #191919;
  padding: 8px 16px;
  transition: all 0.3s ease;

  &:hover {
    background: #F2F2F2;
    border-radius: 12px;
  }
}

@include breakpoint-down(872) {
  .catalog__inner {
    left: 35%;
    z-index: 55;
    top: 100%;
    background: #fff;
    box-shadow: -1px 0px 5px #222;
  }
}
@include breakpoint-down(679) {
  .catalog__spareparts {
    z-index: 55;
    left: 10%;
    top: 100%;
    box-shadow: 0 0 2px #222;
  }
}
@include breakpoint-down(400) {
  .catalog {
    max-width: 276px;
  }
  .catalog__spareparts {
    max-width: 200px;
    left: 40%;
  }
  .catalog__inner {
    left: 15%;
    max-width: 190px;
  }
}
@include breakpoint-down(382) {
  .catalog {
    max-width: 220px;
  }
  .catalog__spareparts {
    left: 18%;
  }
}
