.contacts {
  display: none;
  min-width: 315px;
  width: 100%;
  position: absolute;
  z-index: 55;
  right: 0;
  top: 70px;
  background: #3456AF;
  border-radius: 16px;
  padding: 32px;
  color: #fff;
}

.contacts__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.contacts__close {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 8px;
  cursor: pointer;
}

.contacts__head {
  margin: 0;
  font-weight: 550;
  font-size: 18px;
  line-height: 130%;
}

.contacts__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 12px;

  &:nth-child(2n){
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__tel {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 16px;

  &--head {
    margin-bottom: 24px;
  }
}
