.cooperation-footer {
  padding-bottom: 80px;
}

.cooperation-footer__top {
  display: flex;
  margin-bottom: 24px;
}

.cooperation-footer__box {
  position: relative;
}

.cooperation-footer__user {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.cooperation-footer__input {
  border: none;
  outline: none;
  width: 315px;
  background: #F2F2F2;
  border-radius: 12px;
  padding: 16px;
  margin-right: 30px;
}

.cooperation-footer__close {
  position: absolute;
  z-index: 55;
  right: 40px;
  top: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.cooperation-footer__close-img {
  display: block;
}

.cooperation-footer__bottom {
  max-width: 1003px;
  width: 100%;
}

.cooperation-footer__textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #F2F2F2;
  border-radius: 12px;
  padding: 16px;
  margin-right: 30px;
}

.cooperation-footer__button {
  border: none;
  outline: none;
  max-width: 430px;
  width: 100%;
  background: #3456AF;
  border-radius: 12px;
  padding: 16px 0;
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
  color: #fff;
}

@include breakpoint-down(1060){
  .cooperation-footer__input {
    width: 250px;
  }
}
@include breakpoint-down(860){
  .cooperation-footer__top {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cooperation-footer__input {
    width: 300px;
    margin-bottom: 20px;
  }
}
@include breakpoint-down(710){
  .cooperation-footer__input {
    width: 250px;
  }
}
@include breakpoint-down(610){
  .cooperation-footer__box {
    width: 100%;
  }
  .cooperation-footer__input {
    width: 100%;
    margin-right: 0;
  }
}
@include breakpoint-down(350){
  .cooperation-footer__input {
    width: 250px;
  }
}
