.hero {
  background-image: url("../imgs/hero.png");
  background-position: calc(50% + 10px)  center;
  background-repeat: no-repeat;
  margin-top: 24px;
  margin-bottom: 62px;
}

.hero__box {
  max-width: 682px;
  padding-top: 60px;
  padding-bottom: 108px;
  margin-left: 80px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
}

.hero__text {
  margin: 0;
  font-weight: 550;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

@include breakpoint-down(1260) {
  .hero__box {
    max-width: 600px;
    width: 100%;
  }
}
@include breakpoint-down(1047) {
  .hero__box {
    margin-left: 40px;
  }
}
@include breakpoint-down(938) {
  .hero__box {
    max-width: 500px;
    width: 100%;
  }
}
@include breakpoint-down(890) {
  .hero__box {
    margin-left: 40px;
  }
}
@include breakpoint-down(746) {
  .hero__box {
    max-width: 400px;
  }
  .hero__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
  }
  .hero__text {
    font-weight: 550;
    font-size: 16px;
    line-height: 150%;
  }
}

@include breakpoint-down(616) {
  .hero {
    margin-bottom: 16px;
  }
  .hero__box {
    margin-left: 20px;
  }
}
@include breakpoint-down(566) {
  .hero {
    background-image: url("../imgs/header-bg.png");
    background-position: calc(50% + 300px) 30px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .hero__box {
    padding-bottom: 25px;
  }
  .hero__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
  }

  .hero__text {
    font-weight: 550;
    font-size: 16px;
    line-height: 150%;
  }
}
@include breakpoint-down(470) {
  .hero {
    padding-right: 20px;
  }
}
@include breakpoint-down(390) {
  .hero__title {
    font-size: 18px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero__box {
    padding-bottom: 104px;
  }
}