//GLOBAL
.modal__close {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.overlay {
    // display: none;
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
}

.modal {
    padding: 40px 30px 60px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1119px;
    min-height: 661px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;

    .close {
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    .left {
        width: 350px;
        height: 350px;

        img {
            width: 100%;
        }
    }

    .right {
        margin-left: 39px;
    }

    .title {
        margin-top: 16px;
    }

    .title__buy {
        width: 545px;
    }

    .brand {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #3456AF;
    }

    .favorites {
        margin-top: 16px;
        padding: 4px 8px;
        width: 137px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price {
        font-size: 32px;
        font-weight: 700;
        line-height: 130%;
        color: #191919;

        span {
            font-size: 16px;
        }
    }

    .price-wrapper {
        margin-top: 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 345px;
    }


    .analogs {
        padding: 4.5px 8px;
        display: flex;
        align-items: center;
        height: 32px;
        background: #FFF0E8;
        border-radius: 8px;
        line-height: 130%;
        font-weight: 500;
        font-size: 15px;
        color: #F47A21;
    }

    .product-info {
        margin-top: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #8D989D;

        span {
            color: #000;
        }
    }

    .product-info__item {
        margin-top: 8px;
    }


    .btn-wrapper {
        margin-top: 32px;
        width: 660px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        select {
            font-weight: 700;
            -webkit-appearance: none;
            background: url('../icons/modals/arrow-ios-down.svg') calc(100% - 18.5px) 50% no-repeat, $primary;
            width: 80px;
            height: 50px;
            border: none;
            border-radius: 12px;
            padding: 13.5px 18.5px;
            outline: none;
            cursor: pointer;

            &::-ms-expand {
                display: none;
                /* Remove default arrow in Internet Explorer 10 and 11 */
            }

            option {
                font-weight: 700;
            }
        }
    }

    .btn-add,
    .btn-buy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        height: 50px;
        font-size: 18px;
    }

    .btn-add {
        min-width: 263px;
        padding: 16px 42px;
        background: #3456AF;
        color: #FFFFFF;
    }

    .btn-buy {
        min-width: 250px;
        padding: 15px 72px;
        color: #333333;
    }

    .available-wrapper {
        margin-top: 24px;
    }

    .available-product {
        display: flex;
        align-items: center;

        .circle_min {
            width: 10px;
            height: 10px;
            background: #23BF6B;
            border-radius: 100%;
            display: inline-block;
        }

        .availability {
            margin-left: 15px;
            font-weight: 500;
            font-size: 16px;
            color: #23BF6B;
        }
    }

    .available__item {
        margin-top: 16px;
        display: flex;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }
    }

    .available-info {
        margin-left: 8px;
        font-weight: 500;
        font-size: 16px;
        color: #191919;
    }

    .available-details {
        margin-left: 12px;
        font-weight: 500;
        font-size: 12px;
        color: #8D989D;
    }
}

// FEEDBACK MODAL
#feedback {
    padding: 35px 24px 38px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 524px;
    width: 549px;

    .modal__close {
        top: 32px;
        right: 24px;
    }

    .modal__title {
        text-align: center;
        margin: 0;
    }

    .modal__rate-wrapper {
        margin-top: 38px;
        text-align: center;

        .stars {
            margin-top: 16px;
            display: flex;

            .star {
                width: 34px;
                height: 32px;
                background: url('../icons/modals/star.svg') center center / cover no-repeat;
                margin-left: 10px;

                &:first-child {
                    margin: 0;
                }

                &:hover {
                    background: url('../icons/modals/starHover.svg') center center / cover no-repeat;
                }
            }
        }
    }

    .modal__feed {
        margin-top: 40px;
    }

    .modal__feed__subtitle {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.3px;
        color: #333333;
    }

    .modal__feed__txt {
        margin-top: 8px;
        width: 501px;
        height: 156px;
        padding: 12px;
    }

    .modal__feed__btn {
        margin-top: 27px;
        width: 501px;
        height: 49px;
    }
}

// CHECKOUT MODAL

#checkout {
    padding: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 659px;
    min-height: 534px;

    .modal__title {
        width: 430px;
        margin: 0;
        text-align: center;
        font-size: 16px;
    }

    .modal__btn {
        margin-top: 24px;
        width: 100%;
        height: 49px;
    }

    .input-global {
        background: $primary;
    }

    .modal__close {
        width: 35px;
        height: 35px;
        top: 24px;
        right: 24px;
    }

    .form__wrapper {
        width: 430px;
        margin: 0 auto;
        margin-top: 20px;

        label {
            font-size: 14px;
        }
    }
}


// FEEDBACK MODAL
#feedback {
    width: 450px;

    .modal__title {
        font-size: 25px;
    }

    .modal__rate-wrapper {
        margin-top: 30px;
    }

    .modal__feed {
        margin-top: 35px;
    }

    .modal__feed__txt {
        width: 400px;
    }

    .modal__feed__btn {
        width: 400px;
    }
}

@media (max-width: 1200px) {

    // BUY MODAL
    #buy {
        width: 900px;
        min-height: 550px;
        padding: 30px;

        .left {
            width: 250px;
            height: 250px;
        }

        .right {
            margin-left: 20px;
        }

        .favorites {
            margin-top: 10px;
        }

        .price {
            font-size: 28px;

            &-wrapper {
                margin-top: 20px;
            }
        }

        .btn-wrapper {
            margin-top: 15px;
            width: 540px;

            .count {
                padding: 10px 15px;
                height: 40px;
            }
        }

        .btn-add,
        .btn-buy {
            font-size: 16px;
            min-width: 200px;
            height: 40px;
        }

        .btn-add {
            padding: 10px 18px;
        }

        .btn-buy {
            padding: 15px 28px;
        }

        .available-wrapper {
            margin-top: 24px;
        }

        .available__item {
            margin-top: 10px;
        }
    }
}

@media (max-width: 991px) {

    // BUY MODAL
    #buy {
        width: 700px;
        min-height: 500px;

        .close {
            width: 30px;
            height: 30px;
            top: 12px;
            right: 12px;
        }

        .right {
            width: 400px;
        }

        .title {
            font-size: 15px;
            width: 100%;
        }

        .btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            left: -120px;
            top: 50%;
            margin-top: 50px;

            .count {
                margin-top: 15px;
                order: 3
            }
        }

        .btn-add {
            height: 40px;
        }

        .btn-buy {
            margin-top: 15px;
        }
    }
}

@media (max-width: 768px) {

    // BUY MODAL
    #buy {
        width: 500px;
        padding: 20px;
        flex-direction: column;

        .left {
            margin: 0 auto;
        }

        .right {
            width: 400px;
            margin: 0 auto;
        }

        .brand {
            font-size: 14px;
        }

        .title {
            font-size: 18px;
        }

        .favorites {
            font-size: 14px;
        }

        .price {
            font-size: 20px;
        }

        .analogs {
            font-size: 14px;
            height: 25px;
            padding: 5px 8px;
        }

        .product-info {
            font-size: 14px;
        }

        .btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            position: static;
            margin-top: 10px;
            width: 100%;

            .count {
                margin-top: 0px;
                font-size: 14px;
            }

        }

        .btn-add {
            font-size: 12px;
            margin: 0;
            min-width: 145px;
            padding: 10px;
        }

        .btn-buy {
            font-size: 12px;
            margin: 0;
            min-width: 145px;
            padding: 10px;
        }
    }

    .available-info {
        font-size: 14px;
    }

    //CHECKOUT MODAL
    #checkout {
        width: 500px;
        padding: 20px;

        .modal__close {
            width: 35px;
            height: 35px;
            top: 12px;
            right: 12px;
        }

        .modal__title {
            font-size: 14px;
            width: 350px;
        }

        .checkout-form {
            margin-top: 30px;
        }

        .form__wrapper {
            width: 430px;
            margin: 0 auto;
            margin-top: 20px;

            label {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 575px) {

    // BUY MODAL
    #buy {
        width: 300px;
        padding: 10px;

        .left {
            width: 200px;
            height: 200px;
        }

        .right {
            margin-top: 15px;
            width: 250px;
        }

        .close {
            width: 20px;
            height: 20px;
        }

        .brand {
            font-size: 12px;
            text-align: center;
        }

        .title {
            font-size: 12px;
            text-align: center;
        }

        .favorites {
            font-size: 12px;
            height: 20px;
            margin: 0 auto;
            margin-top: 10px;
            height: 25px;
        }

        .price {
            font-size: 13px;

            span {
                font-size: 12px;
            }
        }

        .price-wrapper {
            width: 230px;
            margin: 0 auto;
            margin-top: 10px;
        }


        .analogs {
            font-size: 12px;
        }

        .product-info__item {
            text-align: center;
            font-size: 12px;
        }

        .btn-wrapper {
            .count {
                font-size: 10px;
                padding: 10px;
                background-size: 15px 15px;
                width: 60px;
            }
        }

        .btn-add {
            text-align: center;
            width: 20px;
            font-size: 10px;
            padding: 5px;
            min-width: 80px;
        }

        .btn-buy {
            text-align: center;
            min-width: 80px;
            font-size: 10px;
            padding: 5px;
        }
    }

    .availability {
        font-size: 13px;
    }

    .available-info {
        font-size: 12px;
    }

    // FEEDBACK MODAL
    #feedback {
        width: 300px;
        min-height: 180px;
        padding: 30px 20px;

        .modal__close {
            width: 30px;
            height: 30px;
            top: 12px;
            right: 12px;
        }

        .modal__title {
            font-size: 18px;
        }

        .modal__rate-wrapper {
            margin-top: 20px;

            .stars .star {
                width: 26px;
                height: 23px;
            }
        }

        .modal__feed {
            margin-top: 35px;
        }

        .modal__feed__txt {
            width: 250px;
        }

        .modal__feed__btn {
            width: 250px;
        }
    }

    // CHECKOUT MODAL
    #checkout {
        width: 300px;
        min-height: 500px;
        padding: 20px;

        .modal__close {
            width: 25px;
            height: 25px;
        }

        .modal__title {
            font-size: 14px;
            width: 230px;
        }

        .modal__btn {
            font-size: 13px;
        }

        input,
        #comment {
            font-size: 10px;
        }

        .form__wrapper {
            width: 250px;
            margin: 0 auto;
            margin-top: 20px;

            label {
                font-size: 14px;
            }
        }
    }
}

#feedback,
#buy {
    display: none;
}