.myaccount {
  padding-bottom: 40px;
}

.myaccount__form {
  display: flex;
}

.myaccount__left {
  margin-right: 30px;
}

.myaccount__head {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 550;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
}

.myaccount__box {
  position: relative;
  margin-bottom: 16px;
}

.myaccount__input {
  width: 430px;
  border: none;
  outline: none;
  background: #F2F2F2;
  border-radius: 16px;
  padding: 38px 16px 16px 16px;
}

.myaccount__label {
  position: absolute;
  left: 15px;
  top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #8D989D;
}

.myaccount__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 430px;
  border: none;
  outline: none;
  background: #F2F2F2;
  border-radius: 16px;
  padding: 16px;
}

.myaccount__button-text {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #8D989D;
  cursor: pointer;

  &--bottom {
    color: #222;
  }
}

.myaccount__save {
  border: none;
  outline: none;
  font-weight: 550;
  font-size: 15px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 8px 16px;
  background: #3456AF;
  border: 1px solid rgba(141, 152, 157, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
}

.myaccount__saved-successfully {
  font-weight: 550;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 8px 12px;
  background: #23BF6B;
  border-radius: 8px;
}

@include breakpoint-down(955) {
  .myaccount__input {
    width: 300px;
  }

  .myaccount__button {
    width: 300px;
  }

  .myaccount__button-text {
    font-weight: 400;
    font-size: 12px;
  }
}
@include breakpoint-down(700) {
  .myaccount__form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .myaccount__left {
    margin: 0;
  }
  .myaccount__input {
    width: 400px;
  }

  .myaccount__button {
    width: 400px;
  }

  .myaccount__button-text {
    font-weight: 400;
    font-size: 15px;
  }

  .myaccount__save {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .myaccount__saved-successfully {
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
}

@include breakpoint-down(424) {
  .myaccount__input {
    width: 300px;
  }

  .myaccount__button {
    width: 300px;
  }

  .myaccount__save {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .myaccount__saved-successfully {
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
}
