.online-store {
  margin-bottom: 60px;

  & p {
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: #191919;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.online-store__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #000000;
}

.online-store__inner {
  margin-bottom: 40px;
}

.online-store__allView {
  display: none;
  width: 100%;
  background: #F2F2F2;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 4px 0;
  font-weight: 550;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

@include breakpoint-down(1032) {
  .online-store__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
  }
}
@include breakpoint-down(375) {
  .online-store__item--none {
    display: none;
  }
  .online-store {
    & p {
      margin-bottom: 11px;
    }
  }
  .online-store__allView {
    display: block;
  }
}