.paymentForm {
  padding-bottom: 40px;
}

.paymentForm__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}

.paymentForm__list {
  @include reset-list;
  display: flex;
}

.paymentForm__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.paymentForm__link {
  display: block;
  width: 280px;
  height: 100px;
  background: #F2F2F2;
  border-radius: 10px;
  padding: 16px;
  border: 2px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    border: 2px solid #3456AF;
    background-color: #fff;
  }
}

.paymentForm__item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 550;
  font-size: 18px;
  line-height: 130%;
  color: #191919;
}

.paymentForm__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #8D989D;
}

@include breakpoint-down(948) {
  .paymentForm__link {
    width: 250px;
  }
}
@include breakpoint-down(814) {
  .paymentForm__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .paymentForm__item  {
    margin-bottom: 20px;
  }

  .paymentForm__link {
    width: 350px;
  }
}
@include breakpoint-down(766) {
  .paymentForm__link {
    width: 300px;
  }
}
@include breakpoint-down(666) {
  .paymentForm__link {
    width: 250px;
  }
}
@include breakpoint-down(565) {
  .paymentForm__list {
    display: block;
    width: 100%;
  }
  .paymentForm__item {
    margin-right: 0;
  }
  .paymentForm__link {
    width: 100%;
  }
}
@include breakpoint-down(404) {
  .paymentForm__list {
    margin-bottom: 20px;
  }
}
@include breakpoint-down(356) {
  .paymentForm__link {
    height: 150px;
  }
}
