.header__bottom-signin--active ~ .profile-modal {
  transform: scale(1);
  opacity: 1;
}

.profile-modal {
  transform: scale(0);
  opacity: 0;
  position: absolute;
  left: 30px;
  top: 53px;
  z-index: 55;
  background: #FFFFFF;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
}

.profile-modal__list {
  @include reset-list;
  position: relative;
  z-index: 1;
}

.profile-modal__item {
  margin-bottom: 18px;

  &:nth-child(4n) {
    margin-bottom: 0;
  }
}

.profile-modal__link {
  display: block;
  font-weight: 550;
  font-size: 16px;
  line-height: 16px;
  color: #191919;
  transition: all 0.3s ease;

  &--exit {
    color: #FC3B3E;
  }

  &:hover {
    opacity: 0.7;
  }
}

.profile-modal__close {
  position: absolute;
  z-index: 56;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.profile-modal__btn {
  display: block;
  border: none;
  background-color: rgb(112, 112, 112);
  border-radius: 5px;
  cursor: pointer;
  padding: 0;

  &-img {
    display: block;
  }
}
