.questionanswer {
  margin-top: 24px;
  margin-bottom: 40px;
}

.questionanswer__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #333333;
}

.questionanswer__list {
  @include reset-list;
}

.questionanswer__item {
  max-width: 887px;
  width: 100%;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.questionanswer__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: #F2F2F2;
  border-radius: 12px;
}

.questionanswer__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #191919;
  margin-right: 10px;
}

.questionanswer__item-bottom {
  display: none;
  background: #F2F2F2;
  padding: 16px;
  border-radius: 0 0 12px 12px;
}

.questionanswer__arrow-down {
  display: block;
}

.questionanswer__arrow-top {
  display: none;
}

.questionanswer__item--active .questionanswer__arrow-top {
  display: block;
}
.questionanswer__item--active .questionanswer__arrow-down {
  display: none;
}
.questionanswer__item--active .questionanswer__item-bottom {
  display: block;
}
.questionanswer__item--active .questionanswer__button  {
  border-radius: 12px 12px 0 0;
}

@include breakpoint-down(760) {
  .questionanswer__button {
    justify-content: center;
  }
}