.header__top {
  border-bottom: 1px solid #F2F2F2;
  padding: 14px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  align-items: center;
  @include reset-list;
  margin-right: 30px;
}

.header__nav-item {
  margin-right: 21px;

  &:last-child {
    margin-right: 0;
  }
}

.header__nav-close {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 14px;
  cursor: pointer;
}

.header__nav-link {
  font-weight: 450;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #8D989D;
  padding-left: 20px;
  transition: all 0.5s ease;

  &:hover {
    color: #3456AF;
    background-image: url("../imgs/cursor\ 1.svg");
    background-position: left center;
    background-repeat: no-repeat;
  }
}

.header__nav-menu {
  display: none;
  border: none;
  background-color: transparent;
  outline: none;
  background-image: url("../imgs/header-menu.svg");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 14px;
  cursor: pointer;
}

.header__nav-logo {
  display: none;
}

.header__nav-logoImg {
  display: block;
}


.header__working-hours p {
  font-weight: 450;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #8D989D;
}

.header__working-hours span {
  margin-left: 10px;
  color: black;
}

.header__nav-right {
  position: relative;
  display: none;
  align-items: center;
}

.header__nav-info {
  display: block;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.header__bottom {
  padding: 24px 0 0 0;
  border-bottom: 1px solid #F2F2F2;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}

.header__bottom-left {
  color: #fff;
  margin-left: 12px;
}

.header__bottom-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
}

.header__bottom-logo {
  display: block;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.header__bottom-form {
  display: flex;
  align-items: center;
}

.header__bottom-brand {
  position: relative;
  height: 52px;
  padding: 0 16px;
  background: #F2F2F2;
  border-radius: 8px 0px 0px 8px;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #191919;
  border: none;
  outline: none;
  border-right: 10px solid #f2f2f2;
}

.header__bottom-search {
  width: 548px;
  height: 52px;
  padding: 15px;
  border: 1px solid #F2F2F2;
  outline: none;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #8D989D;
  background-image: url("../imgs/search.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.header__bottom-right {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.header__bottom-shopping-cart {
  position: relative;
  display: block;
  padding: 12px 14px;
  background: #F2F2F2;
  border-radius: 8px;
  margin-right: 16px;
  transition: all 0.3s ease;

  &:hover {
    background: #EFF3F8;
  }
  &:active {
    background: #3456AF;
  }
}

.shopping-cart {
  display: block;
}

.header__bottom-shopping-cart:hover .shopping-cart path {
  fill: #3456AF;
}
.header__bottom-shopping-cart:active .shopping-cart path {
  fill: #fff;
}

.header__bottom-shopping-cart img {
  display: block;
}

.header__bottom-signin {
  position: relative;
  background: #F2F2F2;
  border-radius: 8px;
  padding: 12px 61px 12px 17px;
  font-weight: 450;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #191919;
  background-image: url("../imgs/bookmark.png");
  background-position: 115px center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;

  &:hover {
    color: #3456AF;
    background-color: #EFF3F8;
  }
}

.person {
  margin-right: 8px;
}

.header__bottom-signin:hover .person path {
  fill: #3456AF;
}

.header__bottom-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-menuClose {
  display: none;
}

.header__bottom-link--active .header__bottom-menuClose {
  display: block;
}
.header__bottom-link--active .header__bottom-img {
  display: none;
}

.header__bottom-contact {
  position: relative;
  padding: 15px 0;

  &--active {
    background-color: #3456AF;
    padding: 15px;
  }
}

.header__bottom-close {
  padding: 6px;
  display: none;
}

.header__bottom-down {
  display: block;
}

.header__bottom-contact--active .header__bottom-close {
  display: block;
}
.header__bottom-contact--active .header__bottom-down {
  display: none;
}


.header__bottom-menu {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 12px;
  cursor: pointer;

  & img {
    display: block;
  }
}

.header__bottom-item {
  margin: 0 10px;
}

.header__bottom-link {
  display: block;
  padding: 22px 0;
  font-weight: 450;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #191919;
}

.header__bottom-link--left {
  display: flex;
  align-items: center;
  padding: 18px 50px;
  background: #3456AF;
  margin-right: 27px;
  font-weight: 350;
  font-size: 18px;
  line-height: 130%;
}

.header__bottom-contacts {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & img {
    margin-left: 16px;
  }
}

.header__bottom-number {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 550;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #191919;
}

.header__bottom-text {
  margin: 0;
  font-weight: 550;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
  color: #8D989D;
}

.header__bottom-shoppingCart--active {
  position: absolute;
  right: -5px;
  top: 0;
  font-weight: 550;
  font-size: 7px;
  line-height: 6px;
  color: #FFFFFF;
  background: #F47A21;
  border-radius: 18px;
  padding: 3px 4px;
}

.header__bottom-signin--sms {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 550;
  font-size: 7px;
  line-height: 6px;
  color: #FFFFFF;
  padding: 3px 5px;
  background: #3456AF;
  border-radius: 18px;
}
@include breakpoint-down(1200) {
  .header__nav-right {
    display: flex;
    align-items: center;
  }
  .header__working-hours {
    display: none;
  }

  .header__bottom-top {
    justify-content: space-between;
  }

  .header__bottom-right {
    display: none;
  }

  .header__bottom-form {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__bottom-search {
    display: block;
    width: 100%;
  }
}
@include breakpoint-down(1026) {
  .header__bottom-contact {
    display: none;
  }
}
@include breakpoint-down(1006) {
  .header__working-hours {
    display: none;
  }

  .header__bottom-top {
    justify-content: center;
  }

  .header__bottom-right {
    display: none;
  }
}
@include breakpoint-down(980) {
  .header__bottom {
    padding: 8px 0 0 0;
  }

  .header__bottom-top {
    padding-bottom: 8px;
  }
}
@include breakpoint-down(896) {
  .header__nav-menu {
    display: block;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-menu ~ .header__nav-list--active {
    display: block;
    position: fixed;
    z-index: 55;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    box-shadow: 0 0 10px #222;
  }

  .header__nav-close {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 0;
    display: block;
  }

  .header__nav-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .header__nav-logo {
    display: block;
  }

  .header__bottom-logo {
    display: none;
  }
}
@include breakpoint-down(841) {
  .header__bottom-item:nth-child(5n) {
    display: none;
  }
}
@include breakpoint-down(788) {
  .header__bottom-brand {
    display: none;
  }

  .header__bottom-top {
    display: block;
  }

  .header__bottom-search {
    width: 100%;
    border-radius: 8px;
    margin: 0;
  }
}
@include breakpoint-down(747) {
  .header__bottom-item:nth-child(4n) {
    display: none;
  }
}
@include breakpoint-down(602) {
  .header__bottom-item:nth-child(3n) {
    display: none;
  }
}
@include breakpoint-down(490) {
  .header__bottom-list {
    display: block;
    width: 100%;
  }
  .header__bottom-item:nth-child(2n) {
    display: none;
  }
  .header__bottom-link--left {
    justify-content: center;
    width: 100%;
    padding: 13px 0;
    border-radius: 8px;
    font-weight: 550;
    font-size: 18px;
    line-height: 130%;
    margin: 0;
  }
}
@include breakpoint-down(364) {
  .header__bottom-list {
    align-items: center;
    text-align: center;
  }
  .header__bottom-partsCatalog {
    max-width: 100%;
  }
  .header__bottom-contacts {
    flex-direction: column;
  }
  .header__bottom-number {
    text-align: center;
    margin-bottom: 5px;
  }
  .header__bottom-down {
    margin: 0;
  }
}
