.vin {
    padding-top: 33px;
    padding-bottom: 200px;

    .about__feed-wrapper {
        display: flex;
        align-items: center;
        width: 800px;

        input {
            width: 400px;
        }

    }

    .vin__title-2 {
        margin-top: 40px;
        margin-bottom: 24px;
    }

    .about__input-wrapper {
        margin-top: 24px;
    }

    .about__checkbox-wrapper {
        margin-top: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .vin .about__btn {
        margin-top: 40px;
    }

    input[type=checkbox],
    input[type=radio] {
        position: relative;
        border: none;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 12px;
    }

    .check-wrapper {
        position: relative;
        background-color: #ccc;
    }
}

@include breakpoint-down(991) {
    .vin {
        .about__feed-wrapper {
            justify-content: flex-start;
        }

        .about__input-wrapper {
            & input {
                width: 100%;
            }
        }

        .about__input-wrapper {
            width: 300px;
        }
    }
}

@include breakpoint-down(768) {
    .vin {
        .about__feed-wrapper {
            &:first-child {
                margin: 0 auto;
            }

            margin: 0 auto;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

@include breakpoint-down(575) {
    .vin {
        .about__input-wrapper {
            margin: 0;
            margin-top: 20px;
        }

        .about__feed-wrapper {
            margin: 0 auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .about__input-wrapper {
            width: 100%;
        }

        .about__checkbox-wrapper {
            justify-content: normal;
            width: 280px;
            label:nth-child(2) {
                margin-right: 12px;  
            }
            input[type=checkbox] {
                width: 20px;
                height: 20px;
            }
        }
    }
}