html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	position: relative;
	font-family: "HelveticaNeueCyr", sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeueCyr', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

ul li {
	list-style: none;
}

img {
	background-color: transparent;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

// Buttons
.btn {
	border: none;
	outline: none;
	background: $primary;
	border-radius: 8px;
	height: 42px;

	&__min {
		height: 42px;
		width: 48px;
	}

	&__medium {
		padding: 12px 17px 17px 17px;
		width: 152px;
	}

	&_arrow {
		border-radius: 100%;
		padding: 17px 13px 16px 13px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&_blue {
		padding: 16px 24px;
		background: #3456AF;
		font-weight: 700;
		font-size: 17px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// BORDER

.border-bottom {
	border: none;
	border-bottom: 1px solid $primary;
}

// TITLE 

.title {
	font-weight: 700;
	font-size: 20px;
	text-align: left;
	color: #191919;
}

.title_min {
	line-height: 130%;
	font-size: 20px;
}

.title__meduim {
	font-weight: 500;
	font-size: 32px;
	line-height: 120%;
}

.title__small {
	font-size: 24px;
	font-weight: 500;
	line-height: 130%;
}

.title__small-big {
	font-weight: 500;
	font-size: 36px;
	line-height: 150%;
}

.title_large {
	font-size: 28px;
	line-height: 130%;
	color: #333333;
}

.title_big {
	font-size: 40px;
	line-height: 130%;
}

.title_extralarge {
	font-weight: 500;
	font-size: 52px;
	line-height: 120%;
}

.title_white {
	color: #FFFFFF;
}

// SUBTITLE

.subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
}

.subtitle_min {
	margin-top: 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: #8D989D;
	width: 283px;
}

.subtitle_white {
	color: #FFFFFF;
}

// TEXTAREA
textarea {
	background: $primary;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #8D989D;
	border: none;
	resize: none;
}

// LINKS
.links .container {
	margin-top: 25px;
	display: flex;
	align-items: center;
}

.link__item {
	font-weight: 500;
	font-size: 14px;
	color: #8D989D;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link__item__arrow {
	margin: 0 10px;
}

.link__item_active {
	color: #191919;
}

// MARGINS
.mt_24 {
	margin-top: 24px;
}

.mt_60 {
	margin-top: 60px;
}

.mt_80 {
	margin-top: 80px;
}

.mt_110 {
	margin-top: 110px;
}